<footer>
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1cc78-xAgX8mdzrAy2PU-BVhkZzBk66ns"></iframe>
    </div>
    <div class="block-under-map">
        © Copyright
        <span>Mindblister</span>
        2019
    </div>
</footer>