<header class="header">
    <div class="banner">
        <div class="banner-content">
            <div class="menu-wrapper">
                111
            </div>
            <div class="banner-body-2">
                111
            </div>
            
        </div>
    </div>
</header>