<header class="header">
    <div class="banner">
        <div class="banner-image">
            <div class="banner-content">
                <div class="menu-wrapper">
                    <div class="menu left">
                        <a href="#!" class="display-table-cell align-middle menu-item">
                            home
                        </a>
                        <a href="#about" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">about</span>
                        </a>
                        <a href="#team" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">team</span>
                        </a>
                        <a href="#book-now" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">booking</span>
                        </a>
                    </div>
                    <div class="logo">
                        <a href="/">
                            <img src="./img/svg/helm.svg" alt="helm">
                        </a>
                    </div>
                    <div class="menu right">
                        <a href="/menu" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">menu</span>
                        </a>
                        <a href="#galerie" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">galerie</span>
                        </a>
                        <a href="#events" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">events</span>
                        </a>
                        <a href="#contact" class="display-table-cell align-middle menu-item">
                            <span class="menu-link">contact</span>
                        </a>
                    </div>
                </div>

                <div class="banner-body-2">
                    <div class="work-time"></div>
                    <div class="main">

                        <div class="restaurant">
                            restaurant
                        </div>

                        <div class="hungry-people">
                            hungry people
                        </div>

                        <div class="bottom-wrapper">
                            <a href="#book-now" class="book-table">
                                book table
                            </a>

                            <a href="#!" class="explore">
                                explore
                            </a>
                        </div>

                        <div class="wrapper-strelka">
                            <div class="strelka">
                                <i class="fa fa-chevron-down icon" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                    <div class="social-buttons">
                        <div class="social-buttons-wrapper">
                            <div class="facebook social-button">
                                <a href="http://facebook.com" target="_blank">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </div>

                            <div class="twitter social-button">
                                <a href="http://twitter.com" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>

                            <div class="insta social-button">
                                <a href="http://instagramm.com" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>