<div id="chat">
    <img src="images/chat.svg">
</div>
<div id="openchat">
    <span class="header">Chat</span>
    <div id="chatcontent">
        
    </div>
    <div>
        <textarea rows=2 name="newmsg" id="chatwrite">Enter your message</textarea>
    </div>
    <input id="chatbutton" value="Отправить" type="button">
</div>