<div class="features">
    <a name="features"></a>
    <h2>Features</h2>
    <span class="descript">
        Some of the features and advantages that we provide for those of you 
        who store data in this Data Warehouse.
    </span>
    <div class="table">
        {{#each features as | feature |}}
            {{>feature feature = feature}}
        {{/each}}
    </div>
</div>