<div class="footer">
    <div class="infolinks">
        <div class="info">
            <div class="logo pad30">
                <a href="/index">
                    <img src="images/data-logo.svg">
                    DataWarehouse
                </a>
            </div>
            <div class="address">
                <p>Warehouse Society, 234</p>
                <p>Bahagia Ave Street PRBW 29281</p>
            </div>
            <div class="contacts">
                <a href="mailto:info@warehouse.project">info@warehouse.project</a>
                <a href="tel:1-232-3434">1-232-3434 (Main)</a>
            </div>
        </div>
        <div class="links">
            <span class="strong pad30">About</span>
            
            <a href="#">Profile</a>
            <a href="/features">Features</a>
            <a href="#">Careers</a>
            <a href="#">DW News</a>
        </div>
        <div class="links">
            <span class="strong pad30">Help</span>

            <a href="#">Support</a>
            <a href="#signup">Sign up</a>
            <a href="#">Guide</a>
            <a href="#">Reports</a>
            <a href="#">Q&A</a>
        </div>
        <div class="links">
            <span class="strong pad30">Social Media</span>

            <div class="media">
                <a class="icon" href="http://facebook.com" target="_blank">
                    <span class="fab fa-facebook-f"></span>
                </a>
                <a class="icon" href="http://twitter.com" target="_blank">
                    <span class="fab fa-twitter"></span>
                </a>
                <a class="icon" href="http://instagram.com" target="_blank">
                    <span class="fab fa-instagram"></span>
                </a>
            </div>
            
        </div>
    </div>
    

    <div class="copyright">
        <p>© Datawarehouse™, 2020. All rights reserved.</p>
        <p>Company Registration Number: 21479524.</p>
    </div>
</div>