<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/index">
                <img src="images/data-logo.svg" alt="Data-Warehouse">
            </a>
        </div>

        <div class="navbar">
            <a href="#" class="menu-item strong">About
            </a>
            <a href="#help" class="menu-item">Help</a>
            <a href="#features" class="menu-item">Features</a>
            <a href="#signup" class="menu-item">Signup</a>
        </div>

        <div class="request">
            <a href="/hedgehog">
                Request Demo&emsp;
                <img src="images/request-arrow.png">
            </a>
            
        </div>
    </div>
</div>