<div class="signup">
    <a name="signup"></a>
    <div class="border"></div>
    
    <div class="tryforfree">
        <div class="text">
            <h2>Try for free!</h2>
            <span>Get limited 1 week free try out features!</span>
        </div>
        <div class="buttons">
            <a class="learnmore" href="/hedgehog">Learn more</a>
            <a class="request" href="/hedgehog">
                Request Demo&emsp;
                <img src="images/request-arrow.png">
            </a>
        </div>
    </div>
</div>