<div class="testimonials">
    <h2 style="color:white">Testimonials</h2>
    <div class="comment-row">
        <div class="comment active-comment">
            <div class="author">
                <img src="images/review-1.svg">
                <div class="name">
                    <strong>John Fang</strong>
                    <span style="font-size: 14px; color: #9C69E2;">wordfaang.com</span>
                </div>
                
            </div>
            <div class="text">
                <img src="images/review-1.svg" style ="visibility:hidden">
                <span>
                    Suspendisse ultrices at diam lectus nullam. 
                    Nisl, sagittis viverra enim erat tortor 
                    ultricies massa turpis. Arcu pulvinar 
                    aenean nam laoreet nulla.
                </span>
            </div>
        </div>
        <div class="comment inactive-comment">
            <div class="author">
                <img src="images/review-2.svg">
                <div class="name">
                    <strong>Jeny Doe</strong>
                    <span style="font-size: 14px; color: #9C69E2;">UX Engineer</span>
                </div>
                
            </div>
            <div class="text">
                <img src="images/review-2.svg" style ="visibility:hidden">
                <span>
                    Suspendisse ultrices at diam lectus nullam. 
                    Nisl, sagittis viverra enim erat tortor 
                    ultricies massa turpis. Arcu pulvinar 
                    aenean nam laoreet nulla.
                </span>
            </div>
        </div>
    </div>
</div>