<div class="content-block-about">
    {{!-- <div class="background-color"> --}}
    <div class="block-about-us content" id="about">
        <div class="title-about-us">
        about us
        </div>
        <div class="about-wrapper">
            <div class="line-under-about-us"></div>
            <div class="text-about-us">
                <span class="text1-about-us">"Hidden treasure in the area of Napoli"
                    - this is how one of our regular customers described us.
                </span><br>
                <span class="text2-about-us">We are happy to welcome you to our
                    restaurant page! We do not just cook food, but create the art
                    of taste. We are sure that you will find your favorite dish
                    in our classic Italian cuisine. We are happy to inform you
                    that our restaurant is now suitable for vegetarians.</span>
            </div>
            <div class="pic-about"></div>
            <div class="square-about-us"></div>
        </div>
    </div>
    {{!-- </div> --}}
</div>