<div class="block-dishes">

    <div class="column left-column">

        <div class="dishes-item dishes-item1">
            <span class="name-dish">
                soupe buridda
                <span class="space">..............</span>
                <span class="float-right">
                    10,18 USD
                </span>
            </span><br>
            <span class="descrip-dish">
                a seafood soup or stew from Liguria in Northern Italy
            </span>
        </div>

        <div class="dishes-item dishes-item2">
            <span class="name-dish">
                Pizza Napolitana
                <span class="space">...........</span>
                <span class="float-right">
                    10,74 usd
                </span>
            </span><br>
            <span class="descrip-dish">
                with tomatoes, mozzarella, anchovies,
                olive oil, oregano
            </span>
        </div>

        <div class="dishes-item dishes-item3">
            <span class="name-dish">
                pasta Tagliatelle
                <span class="space">..........</span>
                <span class="float-right">
                    9,06 usd
                </span>
            </span><br>
            <span class="descrip-dish">
                from Emilia-Romagna with Bolognese sauce
            </span>
        </div>

        <div class="dishes-item dishes-item4">
            <span class="name-dish">
                Affogato
                <span class="space">.....................</span>
                <span class="float-right">
                    2,25 usd
                </span>
            </span><br>
            <span class="descrip-dish">
                a scoop of ice cream in hot espresso
            </span>
        </div>

        <div class="dishes-item dishes-item5">
            <span class="name-dish">
                Remole Bianco
                <span class="space">..............</span>
                <span class="float-right">98,51 usd</span>
            </span><br>
            <span class="descrip-dish">
                dry white wine with a fruity touch
            </span>
        </div>

        <div class="dishes-item dishes-item6">
            <span class="name-dish">
                Peroni
                <span class="space">.........................</span>
                <span class="float-right">3,34 usd</span>
            </span><br>
            <span class="descrip-dish">
                golden yellow beer with citrus bitterness
            </span>
        </div>

        <div class="dishes-item dishes-item7">
            <span class="name-dish">
                cocktail Crodino
                <span class="space">...........</span>
                <span class="float-right">3,05 usd</span>
            </span><br>
            <span class="descrip-dish">
                non alcoholic aperitif with cloves and cardamom
            </span>
        </div>

    </div>


    <div class="column middle-column">

        <div class="dishes-item dishes-item1">
            <span class="name-dish">
                Macaroni soup
                <span class="space">..............</span>
                <span class="float-right">8,00 usd</span>
            </span><br>
            <span class="descrip-dish">
                a traditional dish in Italy, pasta e fagioli
            </span>
        </div>

        <div class="dishes-item dishes-item2">
            <span class="name-dish">
                Pizza quattro stagioni
                <span class="space">...</span>
                <span class="float-right">11.92 usd</span>
            </span><br>
            <span class="descrip-dish">
                with winter, spring, summer and autumn for you
            </span>
        </div>

        <div class="dishes-item dishes-item3">
            <span class="name-dish">
                pasta al burro
                <span class="space">..............</span>
                <span class="float-right">8,74 usd</span>
            </span><br>
            <span class="descrip-dish">
                fettuccine Alfredo with parmesan cheese
            </span>
        </div>

        <div class="dishes-item dishes-item4">
            <span class="name-dish">
                Zuccotto
                <span class="space">.....................</span>
                <span class="float-right">4,37 usd</span>
            </span><br>
            <span class="descrip-dish">
                ricotta, berries, candied fruit, chocolate chips
            </span>
        </div>

        <div class="dishes-item dishes-item5">
            <span class="name-dish">
                Barolo DOCG
                <span class="space">................</span>
                <span class="float-right">31,81 usd</span>
            </span><br>
            <span class="descrip-dish">
                dry red wine from Piedmont
            </span>
        </div>

        <div class="dishes-item dishes-item6">
            <span class="name-dish">
                Lambarte
                <span class="space">.....................</span>
                <span class="float-right">6,10 usd</span>
            </span><br>
            <span class="descrip-dish">
                craft beer with a strength of 6%
            </span>
        </div>

        <div class="dishes-item dishes-item7">
            <span class="name-dish">
                Caffè d’orzo
                <span class="space">.................</span>
                <span class="float-right">2,54 usd</span>
            </span><br>
            <span class="descrip-dish">
                coffee drink, 100% barley, with grated orange peel
            </span>
        </div>
    </div>


    <div class="column right-column">

        <div class="dishes-item dishes-item1">
            <span class="name-dish">
                soupe Sciusceddu
                <span class="space">...........</span>
                <span class="float-right">9,81 usd</span>
            </span><br>
            <span class="descrip-dish">
                prepared using meatballs and eggs as primary ingredients
            </span>
        </div>

        <div class="dishes-item dishes-item2">
            <span class="name-dish">
                Pizza Diabola
                <span class="space">................</span>
                <span class="float-right">9,70 usd</span>
            </span><br>
            <span class="descrip-dish">
                with salami and hot сalabrian pepper
            </span>
        </div>

        <div class="dishes-item dishes-item3">
            <span class="name-dish">
                pasta Carbonara
                <span class="space">...........</span>
                <span class="float-right">7,64 usd</span>
            </span><br>
            <span class="descrip-dish">
                bacon, egg sauce, Pecorino Romano
            </span>
        </div>

        <div class="dishes-item dishes-item4">
            <span class="name-dish">
                Pizzella
                <span class="space">.......................</span>
                <span class="float-right">3,61 usd</span>
            </span><br>
            <span class="descrip-dish">
                waffle cookies with lemon zest and vanilla flavor
            </span>
        </div>

        <div class="dishes-item dishes-item5">
            <span class="name-dish">
                Freschello
                <span class="space">.................</span>
                <span class="float-right">103,15 usd</span>
            </span><br>
            <span class="descrip-dish">
                light semi sweet red wine
            </span>
        </div>

        <div class="dishes-item dishes-item6">
            <span class="name-dish">
                Moretti
                <span class="space">........................</span>
                <span class="float-right">6,99 usd</span>
            </span><br>
            <span class="descrip-dish">
                beer amber color with aroma of roasted malt
            </span>
        </div>

        <div class="dishes-item dishes-item7">
            <span class="name-dish">
                coffee Marocchino
                <span class="space">........</span>
                <span class="float-right">2,83 usd</span>
            </span><br>
            <span class="descrip-dish">
                espresso with thick hot chocolate and a layer of milk foam
            </span>
        </div>
    </div>

</div>
</div>