.help {
    margin-left: 15%;
    margin-right: 15%;

    margin-top: 200px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .help {
        flex-direction: column;
    }
}

.help .image {
    padding: 20px;
}

.help .textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 480px; */
    padding: 50px;
}

.help .textblock .text {
    margin-top: 40px;
    font-size: 18px;
    line-height: 160%;
    
}