.description {
    position: relative;
    margin-top: 140px;
}

.description .header {
    
    max-width: 645px;
}

.description .textblock {
    max-width: 380px;
    margin: 50px 0px;
    font-size: 18px;
}

.description .banner {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 70%;
}

.description .learn-button {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    background-color: #9C69E2;
    border-radius: 30px;
}

.description .learn-button .learn-text {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 20px;
}