.features {
    margin-top: 150px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features .descript {
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
}

.features .table {
    margin-left: 50px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 100%;
}


.features .table .block {
    /* width: 100%; */
    margin-bottom: 50px;
    margin-right: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    /* width: 400px;
    height: 340px; */
    display: flex;
    align-items: center;
    /* margin: 75; */
}

.features .table .first {
    background-image: url("/images/feature1.png");
}
.features .table .second {
    background-image: url("/images/feature2.png");
}
.features .table .third {
    background-image: url("/images/feature3.png");
}
.features .table .fourth {
    background-image: url("/images/feature4.png");
}

.features .table .block .text {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    max-width: 450px;
    width: 50%;
}

@media screen and (max-width: 1300px) {

    .features .table .block .image {
        position: absolute;
        top: -80px;
        left: 30%;
    }

    .features .table .block .text {
        margin-top: 30%;
        margin-left: 30%;
        margin-right: 10%;
        
    }
}

@media screen and (min-width: 1300px) {
    .features .table .block .image {
        position: absolute;
        top: 30%;
        left: -90px;
    }

    .features .table .block .text {
        margin-top: 10%;
        margin-left: 40%;
        margin-right: 10%;
    }
}








.features .table .block a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4B5D68;
    font-size: 16px;
    font-weight: 800;
    padding: 20px;
}

.features .table .block a:hover {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 3px 5px gray;
    
}