html {
    font-family: Avenir;
    font-style: normal;
}

body {
    background: linear-gradient(to bottom, #F5F9FB, white);
}

div, p, h1, h2, h3, h4, h5, h6, input, label, form, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Helvetica';
    font-style: normal;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
}

h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
}

a {
    text-decoration: none;
    transition: color ease-out 0.3s;
}
a:hover {
    color: #16ca1f !important;
}

.strong {
    font-weight: 800 !important;
}

#chat {
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
}
#chat:hover {
    cursor: pointer
}

#openchat {
    background: #9C69E2;
    position: fixed;
    bottom: 15%;
    right: 5%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    visibility: hidden;
}

#openchat .header {
    font-size: 18px;
}

#openchat #chatcontent {
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    background: white;
    padding: 15px;
    border-radius: 15px;
}

#openchat .message {
    display: flex;
    margin-bottom: 20px;
}

#openchat .message.left {
    flex-direction: row;
}
#openchat .message.right {
    flex-direction: row-reverse;
}

#openchat .message .avatar {
    width: 50px;
    height: 50px;
}

#openchat .message .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#openchat .message .data {
    padding: 10px;
    margin: 0 20px;
    min-width: fit-content;
    
    border-radius: 15px;
    position: relative;
    background: #ecf6fb;
    
}

#openchat .message .data .body {
    font-size: 14px;
    max-width: 150px;
    overflow-x:hidden;
}

#openchat .message.left .data::before {
    content: '';
    display: block;
    transform: rotate(45deg);
    /* z-index: -1; */
    width: 10px;
    height: 10px;
    top: 20px;
    left: -5px;
    /* left: 60px; */
    background: #ecf6fb;
    position: absolute;
    
}

#openchat .message.right .data::after {
    content: '';
    display: block;
    transform: rotate(45deg);
    /* z-index: -1; */
    width: 17px;
    height: 17px;
    right: -8.5px;
    background: #ecf6fb;
    position: absolute;
    top: 20px;
}

#openchat textarea {
    width: 200px;
    height: 70px;
    resize: none;
    border-radius: 10px;
}