.features {
    margin-top: 150px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features .text {
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
}

.features .table {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.features .table .row {
    display: flex;
    justify-content: space-between;
}


.features .table .block {
    background-repeat: no-repeat;
    background-size: 95%;
    position: relative;
    width: 400px;
    height: 340px;
    display: flex;
    align-items: center;
    /* margin: 75; */
}

.features .table .first {
    background-image: url("/images/feature1.png");
}
.features .table .second {
    background-image: url("/images/feature2.png");
}
.features .table .third {
    background-image: url("/images/feature3.png");
}
.features .table .fourth {
    background-image: url("/images/feature4.png");
}



.features .table .block .image {
    position: absolute;
    top: 80px;
    left: -90px;
}

.features .table .block .text {
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 20px;
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 180px;
    /* align-items: center; */
}


.features .table .block a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4B5D68;
    font-size: 16px;
    padding: 20px;
}

.features .table .block a:hover {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 3px 5px gray;
    
}